<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Squadre</title>
</head>
<body>
    
    <div class="container py-5 mb-4">
        <h1 class="mb-4 text-center">Squadre</h1>

        <div class="searchForTeam mb-4">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-4 mx-auto">
                    <div class="input-group mx-auto">
                        <input type="text" class="form-control" placeholder="Cerca tra le squadre..." aria-label="Cerca tra le squadre" aria-describedby="button-addon2" [(ngModel)]="searchText">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Cerca</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Teams list -->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 teams-list">

            @for (team of filteredTeams; track team.id){
                <div class="col">    
                    <div class="card shadow">
                        <button [ngClass]="this.showDeleteButtons ? 'btn-del-team': 'btn-del-team-hidden'" (click)="deleteTeam(team.id)">—</button>
                        <div class="card-body">
                            <h5 class="card-title">{{team.name}}</h5>
                            <a class="btn btn-primary mt-3" [routerLink]="['/team_details/', team.id]" routerLinkActive="router-link-active">Dettagli</a>
                        </div>
                    </div>    
                </div>
            }
        </div>

        <button type="button" class="btn btn-floating manage-teams" (click)="toggleDeleteMode()">{{ showDeleteButtons ? 'Fatto' : 'Gestisci squadre' }}</button>
        <button type="button" class="btn btn-floating" data-bs-toggle="modal" (click)="openNewTeamModal()">+</button>

    </div>

    <app-new-team-modal
        (teamCreated)="this.globalService.loadTeams()">
    </app-new-team-modal>

</body>
</html>