<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-new-event">Registra evento</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.close()"></button>
	</div>
	<div class="modal-body">
        <!-- Time-outs and cards can be for either team -->
        <div class="btn-group mb-3" role="group" aria-label="Squadra">
            <input type="radio" class="btn-check" name="event-team" id="event-team-home" value="home" [(ngModel)]="eventOccurred.team">
            <label class="btn btn-outline-dark" for="event-team-home">CASA</label>
            <input type="radio" class="btn-check" name="event-team" id="event-team-guests" value="guests" [(ngModel)]="eventOccurred.team">
            <label class="btn btn-outline-dark" for="event-team-guests">OSPITI</label>
        </div>
        <div class="btn-group-vertical btn-group-lg" role="group" aria-label="Touches list">
            <input type="radio" class="btn-check" name="events-radio" id="time-out-btn" value="TECHNICAL_TIMEOUT" [(ngModel)]="eventOccurred.event_type">
            <label class="btn btn-outline-secondary" for="time-out-btn">Time-out <img src="/icons/time-out-icon.png" alt="time-out-icon"></label>
            <input type="radio" class="btn-check" name="events-radio" id="red-card-btn" value="RED_CARD" [(ngModel)]="eventOccurred.event_type">
            <label class=" red-card-btn btn btn-outline-secondary" for="red-card-btn">Cartellino rosso <img src="/icons/cards-icon.png" alt="cards-icon"></label>
            <input type="radio" class="btn-check" name="events-radio" id="yellow-card-btn" value="YELLOW_CARD" [(ngModel)]="eventOccurred.event_type">
            <label class="yellow-card-btn btn btn-outline-secondary" for="yellow-card-btn">Cartellino giallo <img src="/icons/cards-icon.png" alt="cards-icon"></label>
            <input type="radio" class="btn-check" name="events-radio" id="double-fault-btn" value="DOUBLE_FAULT" [(ngModel)]="eventOccurred.event_type">
            <label class="btn btn-outline-secondary" for="double-fault-btn">Palla contesa <img src="/icons/double-fault-icon.png" alt="cards-icon"></label>
        </div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary confirm-btn" (click)="modal.close()" (click)="notifyNewEvent()">Conferma</button>
	</div>
</ng-template>